.flyer-remate {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.flyer-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.flyer-column {
  flex: 1;
}

.links-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.link-dorado {
  background-color: #B89E58;
  color: #1f1f1f;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link-dorado:hover {
  background-color: #d9c06b;
}

.audio-descripcion {
  width: 670px; 
  height: 100px;
}


/* Video Section */

.container_video_institucional {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}

.title-video {
  text-align: center;
  color: #B89E58;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.video_institucional iframe {
  width: 100%;
  max-width: 1080px;
  height: 500px;
  border: none;
  display: block;
  margin: 0 auto;
}

/* Nuestra Historia section */

.background-frase-fundador {
  background-color: #481a1a;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.background-frase-fundador {
  background-color: #481a1a;
  padding: 3rem 1.5rem;
  text-align: center;
  color: #fff;
}

.foto-fundador {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 0 auto 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.nombre-fundador {
  font-size: 1.5rem;
  color: #B89E58;
  margin-bottom: 1rem;
}

.texto-frase {
  font-size: 1.125rem;
  color: #fff;
  max-width: 700px;
  margin: 0 auto;
}


.boton-historia {
  display: inline-block;
  margin-top: 2rem;
  background-color: #B89E58;
  color: #1f1f1f;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.boton-historia:hover {
  background-color: #d9c06b;
}

/* 3 links section */
.galeria-columnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  background-color: white;
  padding: 3rem 5%;
}

.bloque-img {
  flex: 1 1 30%;
  min-width: 250px;
  text-align: center;
}

.bloque-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.bloque-img h4 {
  font-size: 1.7rem;
  margin: 1rem 0 0.5rem;
  color: #B89E58;
}

.boton-galeria {
  background-color: #B89E58;
  color: #1f1f1f;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.boton-galeria:hover {
  background-color: #d9c06b;
}