.historia-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.historia-img {
  max-width: 40%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.historia-img-content {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.historia-texto {
  max-width: 40%;
  font-family: 'Open Sans', sans-serif;
  color: #481a1a;
  text-align: justify;
}

.nombre-fundador {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #B89E58;
  font-weight: bold;
}